<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251640364049-ns7sea2ivunfjvapdbn8bn427krfg42p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251640364049-ns7sea2ivunfjvapdbn8bn427krfg42p</string>
	<key>API_KEY</key>
	<string>AIzaSyBO3uRMpeS4J2fjPnC8SlABj74GkrIvguw</string>
	<key>GCM_SENDER_ID</key>
	<string>251640364049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crud-84715</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-84715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251640364049:ios:031c6f1b77681634a9c5b0</string>
</dict>
</plist>